* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.form__field {
    margin-bottom: 10px;
}

.form__field__label {
    display: block;
    padding: 5px 0;
    cursor: pointer;
}

.form__field__label .required {
    color: #dd0000;
}

.form-control {
    width: 300px;
    padding: 0 10px;
}

.form__field .btn {
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
}

.form-control,
.form__field .btn {
    height: 40px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 40px;
    outline: none;
    transition: border-color .1s linear;
}

.form-control:hover,
.form__field .btn:hover {
    border-color: #999;
}

.control-holder.has-error .form-control {
    border-color: #dd0000;
}

.control-holder .box-error {
    display: none;
}

.control-holder.has-error .box-error {
    display: block;
    padding: 5px 0;
    font-size: 12px;
    color: #dd0000;
}
